<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>npm OTP authentication</title>
    </head>
    <body>
        <h1 class="splash-head">npm One-Time Password (OTP)</h1>
        <p>
            <b><a target=_blank href="<%= repo.url %>"><%= repo.name %></a></b>
            version
            <b>
                <% if (version.url) { %>
                <a target=_blank href="<%= version.url %>">
                <% } %>
                    v<%= version.name %>
                <% if (version.url) { %>
                </a>
                <% } %>
            </b>
            published successfully!
            <img src="/happy-penguin.gif">
        </p>
    </body>
</html>
