on:
  push:
  pull_request:

name: lint
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: sudo apt-get install shellcheck
      - run: npm ci
      - run: npm lint
